body{
    background-color: rgb(133, 69, 252);
    color: white;
    font-family: "Protest Revolution", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

button{
  background-color: brown;
  color: black;
  font-family: "Protest Revolution", serif;
}

.passo {
  display:none;
}

.passo.ativo {
  display:block;
}

main {
  text-align: center;
  max-width: 90%;
}

img {
  max-width: 90%;
}